
.button {
    width: 100px;
    height: 50px;
    background-color: cornflowerblue;
    font-family: Farah;
    font-size: 30px;

}

.buttonDiv {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}